<h2>Sửa User</h2>

<form action="/suaUser/" method="POST" >
    <label for="email">Nhập email</label>
    <input name="email" type="text" id="email" placeholder="Nhập email" required>

    <label for="location">Nhập password</label>
    <input name="password" type="text" id="password" placeholder="Nhập password" required>

    <label for="name">Số lượng sinh viên</label>
    <input name="name" type="number" id="name" placeholder="Nhập tên" required>

    <button type="submit" value="submit" >Sửa</button>
</form>
