<h2>Sửa User</h2>

<form action="/users/users/<%=user._id%>" method="POST" >
    <div>
    <label for="email">Nhập email</label>
    <input value="<%=user.email%>" name="email" type="text" id="email" placeholder="Nhập email" required>
    </div>
    <div>
    <label for="password">Nhập password</label>
    <input value="<%=user.password%>" name="password" type="text" id="password" placeholder="Nhập password" required>
    </div>
    <div>
    <label for="name">Nhập tên</label>
    <input value="<%=user.nameUser%>" name="nameUser" type="text" id="name" placeholder="Nhập tên" required>
    </div>
    <button type="submit" value="submit" >Sửa</button>
</form>
