<h2>Thêm User</h2>

<form action="/users/users" method="POST" >
    <div>
    <label for="email">Nhập email</label>
    <input name="email" type="text" id="email" placeholder="Nhập email" required></div>
    <div>
    <label for="location">Nhập password</label>
    <input name="password" type="password" id="password" placeholder="Nhập password" required></div>
    <div>
    <label for="name">Nhập tên</label>
    <input name="nameUser" type="text" id="name" placeholder="Nhập tên" required></div>

    <button type="submit" value="submit" >Thêm</button>
</form>
